@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family:  roboto,sans-serif;
    color: #333;

}

body{
    background: #edf0f2;
    margin: 0px;
    padding: 0px;
}

h1,h2{
    text-transform: uppercase;
}

#app{
    padding: 25px;
}

input{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

form button{
    background: #43bc70;
    padding: 10px 12px;
    font-size: 16px;
    border: 0px;
    border-radius: 10px;
    color: #fff;

}

#tarefas button{
    font-size: 16px;
    padding: 8px;
    border: 0px;
    color: rgb(218, 26, 26);  
    border-radius: 6px;
}