.login {
    display: flex;
    margin-left: 86px;
}

p {
    font-size: 18px;
    color: #00000060;
    margin-top: 28px;
    margin-bottom: 33px;
}

.login-left {
    flex: 1;
}

.login-left h1 {
    color: #3751fe;
    font-weight: bold;
    font-size: 30px;
    margin-top: 55px;
}

#login-phrase h1 {
    height: 108px;
    width: 557px;
    margin-top: 60px;
    font-family: "Open Sans";
    font-size: 36;
}

.login-ckekbox {
    padding-top: 10px;
}
.login-ckekbox label {
    padding-left: 10px;
    color: #00000061;
}

.login-input {
    height: 74px;
    width: 554px;
    border: 1px solid #c1bbbb;
    padding-left: 20px;
    outline-width: 2px;
    outline-color: #0c31f1;
}

.login-input.email {
    border-left: 4px solid #0c31f1;
    border-bottom: transparent;
}

.login-button {
    width: 129px;
    height: 54px;
    margin-right: 33px;
    margin-top: 10px;
    border: 2px solid #3751fe;
    color: #0c31f1;
    font-size: 18px;
    background-color: transparent;
}

.login-button.loginUp {
    border: none;
    background-color: #3751fe;
    color: #ffffff;
}

.login-right {
    background-color: #a9a9a9;
    flex: 1;
}
